.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
}

nav {
  background-color: #dee9ff;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
